<% placeholder = "" if placeholder.blank? %>
<% show_field_name_in_error ||= show_field_name_in_error.nil? %>
<div class="control-group <% if !model.errors[field].empty? %>error<% end %>">
  <% if defined? field_name then %>
    <label class="control-label"><%= field_name %></label>
  <% else %>
    <%= form.label field, :class => 'control-label' %>
  <% end %>
  <div class="controls">
    <%= form.password_field field, :placeholder => placeholder %>
    <% if !model.errors[field].empty? %>
      <span class="help-inline">
        <% model.errors[field].each do |msg|  %>
          <% if !show_field_name_in_error then %>
            <small><%= "#{msg}" %></small>
          <% else %>
            <small><%= field.to_s.humanize + " #{msg}" %></small>
          <% end %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
